* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  
}

.navbar {
  border: 1px solid gold;
  height: 100px
  
}

.logo {
  width: 80px;
 
}

a {
  padding-top: 20px;
  margin: 10px;
}



