* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.main {
 background-color: #934f2b;
}

.nav-container {
  border: 1px solid gold;
}

.navbar {
  padding-top: 45px;
  padding-left: 20px;
  height: 100px;
  width: 100px;
  
}

.logo-container {
  display: flex;
}

.logo {
  width: 150px;
}

a {
  text-decoration: none;
  padding-top: 20px;
  margin: 10px; 
}

a:hover {
  color: #2A9D8F;
}

a:visited {
  color: #E76F51;
}

a:visited:hover {
  color: #2A9D8F;
}

.therapist-container {
  display: flex;
  margin-left: 20px;
}

.therapist-profile {
  
  margin: 5px;
  padding: 10px;
}

.therapist-profile p {
 font-size: 10px;
 text-align: center;
}

.therapist-profile h3 {
  display:block;
  margin:0 auto;
  font-size: 14px;
}

.images {
  height: 6em;
}

.map {
  height: 400px;
  width: 100%;
}

